// ------------------------------------------------
// Corrections
// ------------------------------------------------

// Tables
.th-date {
  width: 5rem !important;
}

// Data Table pagination
.dataTables_length {
  padding-top: 0.2rem;
  padding-left: 0.2rem;
}

.dataTables_filter {
  padding-top: 0.2rem;
  padding-right: 0.2rem;
}

ul.pagination {
  flex-wrap: wrap !important;
  justify-content: center !important;
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  ul.pagination {
    justify-content: flex-end !important;
  }
}
